@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  background-color: 
  #E4E8FB;
}
/* 

font-family: 'Inter', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Poppins', sans-serif;


*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base{
  .font-lexend{
    font-family: 'Lexend', sans-serif; 
  }
  .font-inter{
    font-family: 'Inter', sans-serif;
  }
  .effect{
    @apply transition-all
  }
  .effect:hover{
    @apply opacity-75
  }
  .nav-button{
    @apply inline-block py-[6px] md:py-[12px] px-[15px] md:px-[40px] rounded-[8px] text-xxs md:text-sm font-semibold
  }
  .accordion-wrap{
    font-family: 'Lexend', sans-serif;
    @apply p-[16px] md:p-[36px] flex gap-[10px] md:gap-[20px] transition-all
  }
  .accordion-wrap .title, .accordion-wrap .number{
    @apply font-semibold text-ls md:text-normal text-inner-black
  }
  .accordion-wrap .content{
    @apply mt-[10px] md:mt-[20px] text-xs md:text-ls mb-[16px] text-white
  }
  .accordion-wrap .content p a{
    @apply underline
  }
  .accordion-wrap .content p span{
    @apply font-bold
  }

  .accordion-wrap.active{
    @apply text-white bg-dark-blue
  }
  .accordion-wrap.active .title, .accordion-wrap.active .number{
    @apply text-white
  }

}